H1{
	text-align:center;
	color:maroon;
}

html{
	height:100%;
}
body {
	background-image: url("wood-background.jpg");
	margin: 0;
	min-height: 90%;
	padding-bottom: 5rem;
	position: relative;
	border: 5px solid green;
}

footer{
	background-color: #efefef;
	bottom: 0;
	left: 0;
	padding: 1rem;
	position:absolute;
	right: 0;
	text-align: center;
}
ul{
	margin-left:50%;
	overflow: 
}
.todo{
	color:green;
	font-style: italic;
	font-weight:boldest;
}

.todo li:hover{
	font-style:oblique;
}

.selectors:hover{
	background-color:efefef;
	font:boldest;
}

.chart-header{
	border-style:solid;
	font:bolder;
	font-size: 14pt;
}
.chart-content{
	border-style:none solid solid solid;
}
.content-container{
	max-width:25%;
	border: 2px solid blue;
}
.content-section{
	display:inline-block;
	border: 5px solid;
	width:100%;
}
.row{
	border-top:solid !important;
}
.column{
	border-right:solid;
	text-align:center;
	padding:0 10px 0 10px;
	
}
